@font-face {
  font-family: chalkboard;
  src: url("path/fonts/chalkboard.ttf") format("truetype");
}

@font-face {
  font-family: chalkboard;
  src: url("path/fonts/chalkboardbold.ttf" format("truetype"));
  font-weight: bold;
}

:root {
  --yellow: #FFFAC5;
  --lblue: #D5EDEF;
  --dblue: #A1DADE;
  --lgreen: #B1D29C;
  --dgreen: #8CC0A0;
}

body {
  font-family: 'chalkboard';
  background-color: var(--dblue);
  margin: 0;
  margin-top: clamp(2px, 1vw, 10px);
  height: 100vh;
}

#white-rect {
  position: relative;
  width: 100%;
  height: 100vh;
  border-radius: 5vw 5vw 0 0;
  background: white;
}

/* Menu Bar */

.title {
  width: 100%;
  height: clamp(40px, 10vw, 130px);
  z-index: 300;
  position: fixed;
  text-align: center;
  color: var(--dgreen);
}

#backing {
  width: 100%;
  margin: 0;
  height: clamp(40px, 10vw, 130px);
  border-radius: 5vw 5vw 0 0;
  background: white;
}

#bunni {
  font-weight: bold;
  margin-top: clamp(1px, 3vw, 2px);
  font-size: clamp(20px, 5.5vw, 70px);
  letter-spacing: 0.3vw;
  margin-left: clamp(2.5px, 0.3vw, 15px);
  margin-right: clamp(-2.5px, -0.3vw, -15px);
  line-height: clamp(2px, -2vw);
}

#store {
  font-size: clamp(15px, calc(5.5vw - 30px), 30px);
  letter-spacing: clamp(2px, 2vw, 30px);
  margin-left: clamp(2.5px, 2vw, 30px);
  margin-right: clamp(-2.5px, -1vw, -30px);
  line-height: clamp(2px, -5.5vw, 3px);
}


/* Body */

.main {
  position: relative;
  width: 70%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: clamp(40px, 10vw, 130px);
  text-align: center;
}

.lgreen-rect {
  margin: auto;
  width: 100%;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  border-radius: 1.5vw;
  background: var(--lgreen);
}
