html,
@font-face {
  font-family: chalkboard;
  src: url("path/fonts/chalkboard.ttf") format("truetype");
}

@font-face {
  font-family: chalkboard;
  src: url("path/fonts/chalkboardbold.ttf" format("truetype"));
  font-weight: bold;
}

:root {
  --yellow: #FFFAC5;
  --lblue: #B5DFE3;
  --dblue: #98D9E3;
  --lgreen: #B1D29C;
  --dgreen: #8CC0A0;
  --red: #FF8680;
}

a:link {
  color: var(--dblue)
}
a:hover {
  color: var(--lblue)
}
a:visited {
  color: var(--lgreen)
}
a:active {
  color: var(--dgreen)
}

body {
  background-color: var(--dblue);
  margin: 0;
  padding-bottom: 150px;
}
body *{
  font-family: 'chalkboard';
}

#back-rect {
  position: relative;
  margin-top: clamp(2px, 1vw, 10px);
  height: 100%;
  width: 100%;
  border-radius: 4vw 4vw 4vw 4vw;
  background: white;
  padding-bottom: 200px;
}


/*------------------------- HEADER -------------------------*/

.navbar {
  box-sizing: border-box;
  width: 100%;
  height: clamp(40px, 10vw, 130px);
  text-align: center;
  z-index: 100;
  position: fixed;
  color: var(--dgreen);
  align-items: center;
}

#backing {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: clamp(50px, 10vw, 80px);
  border-radius: 4vw 4vw 0 0;
  background: white;
  transition: 0.1s;
}

.clouds {
  position: absolute;
  width: 85%;
  top: clamp(10px, 1.1vw, 100px);
  bottom: 3vw;
  transition: 0.5s;
  left: 7.5%;
}

#cloud {
  /* position: relative; */
  height: clamp(50px, 7vw, 100px);
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

#lwcloud, #rwcloud {
  position: absolute;
  color: var(--dblue);
  width: 100%;
  line-height: clamp(5px, 1em, 25px);
  font-size: clamp(10px, 1.5vw, 20px);
}

#title {
  margin-top: 0px;
  font-weight: bold;
  font-size: clamp(30px, 5.5vw, 70px);
  letter-spacing: 0.3vw;
  margin-left: clamp(2.5px, 0.3vw, 15px);
  margin-right: clamp(-2.5px, -0.3vw, -15px);
  transition: 0.4s;
}

#subtitle {
  font-size: clamp(15px, calc(5.4vw - 30px), 30px);
  letter-spacing: clamp(0px, 0.1em, 30px);
  margin-left: clamp(2.5px, 0.7em, 30px);
  margin-right: clamp(-2.5px, -0.7em, -30px);
  line-height: clamp(2px, -5.5vw, 3px);
  transition: 0.3s;
  color: var(--dgreen)
}


/*------------------------- BODY -------------------------*/

.main {
  position: relative;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  top: clamp(80px, 10vw, 130px);
  text-align: center;
}

.lgreen-rect {
  width: 100%;
  padding-top: 1.5vw;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  border-radius: 1.5vw;
  background: var(--lgreen);
}


/*------------------------- P1: ABOUT ME -------------------------*/

.dgreen-rect {
  position: relative;
  margin: auto;
  margin-bottom: 1.5vw;
  width: 95%;
  padding-bottom: 0.5vw;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  border-radius: 1.5vw;
  background: var(--dgreen);
}

.heading {
  padding: 5px;
}

.white-rect {
  position: relative;
  margin: auto;
  padding: 5px;
  border-radius: 1.5vw;
  background: white;
}

.content {
  line-height: clamp(13px, calc(5vw - 30px), 25px);
  text-align: left;
  padding: 5px 8px 8px 10px;
  transition: 1s;
}

p1 {
  font-size: clamp(16px, calc(5vw - 30px), 32px);
  color: var(--yellow);
  transition: 1s;
}

p2 {
  font-size: clamp(16px, calc(5vw - 32px), 20px);
  color: var(--dblue)
}

p3 {
  color: var(--dgreen);
  src: url("path/fonts/chalkboard.ttf") format("truetype");
  font-size: clamp(12px, calc(5vw - 30px), 18px);
  padding-left: clamp(1px, 0.5vw, 5px);
}

p4 {
  color: var(--lblue);
  font-size: clamp(12px, calc(5vw - 30px), 18px);
}

p5 {
  font-size: clamp(12px, calc(5vw - 30px), 20px);
  color: var(--lblue);
  padding-left: clamp(1px, 0.5vw, 5px);
}

p10 {
  font-size: clamp(16px, calc(5vw - 35px), 20px);
  color: var(--red);
  display: block;
  text-align: center;
}

.hover {
  border: none;
  background: none;
  line-height: clamp(13px, calc(5vw - 30px), 22px);
  padding: 0;
  outline: 0;
  width: 100%;
  text-align: left;
}

@keyframes rainbow {
  from {
    color: #A8E6CF;
  } 5% {
    color: #A8E6CF;
  } 20% {
     color: #DCEDC1;
  } 40% {
    color: #FFD3B6;
  } 60% {
    color:  #FFAAA5;
  } 80% {
    color: #FF8B94;
  } 100% {
    color: #A8E6CF;
  }
}

button .onhover {
  display: none;
}
button:hover .initial {
  display: none;
}
button:hover .onhover {
  display: inline;
}
button:hover .normal {
  animation: rainbow 5s linear 0s infinite;
}


/*------------------------- P2: EXPERIENCE -------------------------*/

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  background: url('Clover.png') no-repeat left;
  background-size: clamp(10px, 1vw, 20px);
}

.bullet1 {
  background-position: left center;
  padding-left: 17px;
}

.bullet2 {
  background-position: 20px center;
  padding-left: 37px;
}

.bullet3 {
  background-position: 40px center;
  padding-left: 60px;
}


/*------------------------- P4: HOBBIES -------------------------*/
