html,

:root {
  --yellow: #FFFAC5;
  --lgreen: #B1D29C;
  --green: #9FC99E;
  --dgreen: #8CC0A0;
  --red: #FF8680;
  --lblue: #d0f5f8;
  --dblue: #98D9E3;
}

a:link {
  color: var(--dblue);
}
a:hover {
  color: var(--lblue);
}
a:visited {
  color: var(--lgreen);
}
a:active {
  color: var(--dgreen);
}


body {
  background-image: linear-gradient(var(--dblue), var(--dgreen));
  margin: 0;
  font-family: 'Nunito';
}

#back-rect {
  position: relative;
  margin-top: clamp(5px, 1vw, 12px);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  border-radius: 2.5vw 2.5vw 2.5vw 2.5vw;
  background: white;
}


/*------------------------- HEADER -------------------------*/
@keyframes flyUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}

.fly-up {
  animation: flyUp 1s forwards;
}

.github-button,
.github-button *,
.github-button :after,
.github-button :before,
.github-button:after,
.github-button:before {
  border: 0 solid;
  box-sizing: border-box;
}
.github-button:disabled {
  cursor: default;
}
.github-button:-moz-focusring {
  outline: auto;
}
.github-button svg {
  vertical-align: middle;
}
.github-button [hidden] {
  display: none;
}
.github-button {
  background: var(--lblue);
  background-clip: content-box;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 100px;
  -webkit-mask-image: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0px;
  transition: 0.2s;
  width: 100px;
  transform: scale(0.6);
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 800px) {
  .github-button {
    transform: scale(0.5);
    top: -18px;
    left: -18px;
  }
}
.github-button:hover {
  background: var(--lgreen);
}
.github-button svg {
  --size: 70px;
  fill: var(--dblue);
  display: block;
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}
.github-button:hover svg {
  fill: var(--yellow);
}
.github-button:before {
  border: 5px solid var(--lgreen);
  border-radius: 50%;
  content: "";
  inset: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(2);
  transition: 0.2s;
}
.github-button:hover:before {
  opacity: 1;
  transform: scale(1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: clamp(20px, 10vw, 130px);
  position: fixed;
  color: var(--dgreen);
  border-radius: 0 0 clamp(20px, 2vw, 50px) clamp(20px, 2vw, 50px);
  transition: 0.1s;
  background-color: transparent;
  z-index: 1;
}

.clouds {
  position: absolute;
  width: 85%;
  top: clamp(5px, 1.1vw, 100px);
  transition: 0.5s;
  left: 7.5%;
}

#cloud {
  height: clamp(50px, 7vw, 100px);
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 800px) {
  #cloud {
    display: none;
  }
}

.wcloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dblue);
  width: 100%;
  line-height: clamp(5px, 1em, 25px);
  font-size: clamp(10px, 1.5vw, 20px);
  text-align: center;
}

#title {
  font-weight: bold;
  font-size: clamp(35px, 5.5vw, 70px);
  padding: 3px;
  transition: 0.4s;
}

#subtitle {
  font-size: clamp(15px, calc(5.4vw - 30px), 30px);
  letter-spacing: clamp(0px, 0.1em, 30px);
  line-height: clamp(2px, -5.5vw, 3px);
  transition: 0.3s;
  color: var(--dgreen)
}


/*------------------------- BODY -------------------------*/

@media only screen and (max-width: 800px) {
    .main {
        width: 90% !important;
        top: 60px !important;
    }
}

.main {
  position: relative;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  top: clamp(60px, 10vw, 130px);
  text-align: center;
  transition: 0.5s;
}

.lgreen-rect {
  width: 100%;
  padding-top: 1.5vw;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  border-radius: 1.5vw;
  background: var(--lgreen);
}


/*------------------------- P1: ABOUT ME -------------------------*/

.dgreen-rect {
  position: relative;
  margin: auto;
  margin-bottom: 1.5vw;
  width: 95%;
  padding-bottom: clamp(0px, 0.5vw, 10px);
  padding-top: clamp(0px, 0.5vw, 10px);

  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  border-radius: 1.5vw;
  background: var(--dgreen);
}

.white-rect {
  position: relative;
  margin: auto;
  padding: 10px;
  border-radius: 1.5vw;
  background: white;
}

.content {
  line-height: clamp(13px, calc(5vw - 30px), 25px);
  text-align: left;
  padding: 5px 8px 8px 10px;
  transition: 1s;
}

p1 {
  font-size: clamp(18px, calc(5vw - 20px), 28px);
  color: var(--yellow);
  transition: 1s;
}

p2 {
  font-size: clamp(16px, calc(5vw - 25px), 22px);
  font-weight: bold;
  color: var(--dgreen)
}

p3 {
  color: var(--dgreen);
  font-size: clamp(12px, calc(5vw - 30px), 18px);
}

p4 {
  color: var(--lgreen);
  font-size: clamp(12px, calc(5vw - 30px), 18px);
  font-style: italic;
}

p5 {
  color: var(--lgreen);
  font-size: clamp(12px, calc(5vw - 30px), 20px);
  padding-left: clamp(1px, 1vw, 20px);
}

p6 {
  font-size: clamp(16px, calc(5vw - 35px), 20px);
  color: var(--red);
  display: block;
  text-align: center;
}

p7 {
  font-size: clamp(16px, calc(5vw - 35px), 20px);
  color: var(--yellow);
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.tabtext {
  padding-left: clamp(5px, 2vw, 30px);
}

.hover {
  border: none;
  background: none;
  line-height: clamp(13px, calc(5vw - 30px), 22px);
  padding: 0;
  outline: 0;
  width: 100%;
  text-align: left;
  font-family: 'Nunito';
}

@keyframes rainbow {
  from {
    color: #A8E6CF;
  } 5% {
    color: #A8E6CF;
  } 20% {
     color: #DCEDC1;
  } 40% {
    color: #FFD3B6;
  } 60% {
    color:  #FFAAA5;
  } 80% {
    color: #FF8B94;
  } 100% {
    color: #A8E6CF;
  }
}

.heading {
  padding: 5px;
}

button .onhover {
  display: none;
}
button:hover .initial {
  display: none;
}
button:hover .onhover {
  display: inline;
}
button:hover .normal {
  animation: rainbow 5s linear 0s infinite;
}


/*------------------------- P2: EXPERIENCE -------------------------*/

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  background: url('HomePage/cloud.png') no-repeat left;
  background-size: clamp(15px, 2vw, 25px);
}

.bullet1 {
  background-position: 5px center;
  padding-left: calc(clamp(25px, 3vw, 40px) + 5px);
}

.bullet2 {
  background-position: 40px center;
  padding-left: calc(clamp(25px, 3vw, 40px) + 40px);
}

.bullet3 {
  background-position: 75px center;
  padding-left: calc(clamp(25px, 3vw, 40px) + 75px);
}


/*------------------------- P4: HOBBIES -------------------------*/


/*--------------------------- FOOTER ----------------------------*/

.footer {
  padding-top: 100px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.footer-image {
  width: 100%;
  height: auto;
  display: block;
}
